*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	width: 100%;
}

/******** Componentes de utilidad ********/
:root {
	font-size: 62.5%;

	/* Propiedades personalizadas */

	/* Main Color */
--color1:  #b09399;
--color1m: #b0939998; 
--color2:  #fee9e1;
--color3:  #fad4c0;
--color4:  #64b6ac;
--color4m: #64b6ac8e;
--color5: #6497b6;
--color6:  #c0fdfb; 
}

body {
	font-family: "Baloo Tamma 2", cursive;
	line-height: 1.8;
	display: flex;
}

/* List items */
li {
	list-style: none;
}

/* Pilar Etiquetas */
a:link,
a:visited {
	text-decoration: none;
	color: var(--color2);
	text-shadow: 0 0 10px white;
	font-size: 2rem;
}

/*-**-**-**-**-**-**-**-**-* estilo principal *-**-**-**-**-**-**-**-**-*/


/*-*-**-**-**-**-**-**-**-**-** Lado Nav *-**-**-**-**-**-**-**-**-* *-*/
aside#side-nav {
	position: sticky;
	top: 0;
	left: 0;
	height: 100vh;
}

div.side-nav__content {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: var(--color2);
}

div.side-nav__content--logo {
	width: calc(3vw + 2vh);
	/* object-fit: cover; */
}

ul.side-nav__content--social {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	margin-bottom: 1rem;
}

ul.side-nav__content--social a i {
	font-size: calc(1rem + 0.66667vw);
	color: var(--color4);
	text-shadow: 0 0 10px var(--color4);
	padding-bottom: calc(2rem + 0.6667vw);
}

ul.side-nav__content--social a i:hover,
ul.side-nav__content--social a i:active {
	color: var(--color5);
	text-shadow: 0 0 15px var(--color5);
}

/*-*-**-**-**-**-**-**-**-**-** Side Nav *-**-**-**-**-**-**-**-**-* *-*/
/* Todo el contenido que contiene main */
main {
	flex: 1;
}

/*-*-**-**-**-**-**-**-**-**-** Main Nav Header *-**-**-**-**-**-**-**-**-* *-*/
header#header {
	background-color: var(--color4);
	height: calc(3vw + 3vh);
	z-index: 2;
}

nav#header__main-nav {
	height: 100%;
}

ul.header__main-nav--links {
	/* solo oara demostracion */

	width: 100%;
	height: 100%;

	display: flex;
	justify-content: flex-end;
	align-items: center;
}

ul.header__main-nav--links li {
	padding-right: 3vw;
}

ul.header__main-nav--links li a {
	position: relative;
	padding: 0.2rem 0.6rem;
	font-size: calc(1rem + 0.66667vw);
}

ul.header__main-nav--links li a:link::before,
ul.header__main-nav--links li a:visited::before,
ul.header__main-nav--links li a:link::after,
ul.header__main-nav--links li a:visited::after {
	content: '';
	position: absolute;
	left: 0;
	width: 100%;
	height: 0.25rem;
	background-color: white;
}