*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	width: 100%;
}

/******** Componentes de utilidad ********/
:root {
	font-size: 62.5%;

	/* Propiedades personalizadas */

	/* Main Color */
--color1:  #cae9f9;
--color1m: #cae9f998;
--color2:  #6074ba;
--color2m: #6074ba98; 
--color3:  #724ca3;
--color4:  #362449;
--color4m: #12121c8e;
--color5: #180520;
--color6:  #cbd2e2; 
--color7: #ff5073c0;
--color8: #50cbffb9;
}

body {
	font-family: "Baloo Tamma 2", cursive;
	line-height: 1.8;
	display: flex;
}

/* List items */
li {
	list-style: none;
}

/* Pilar Etiquetas */
a:link,
a:visited {
	text-decoration: none;
	color: var(--color6);
	text-shadow: 0 0 10px var(--color1);
	font-size: 2rem;
}

/*-**-**-**-**-**-**-**-**-* estilo principal *-**-**-**-**-**-**-**-**-*/

/*-*-**-**-**-**-**-**-**-**-** Lado Nav *-**-**-**-**-**-**-**-**-* *-*/
aside#side-nav {
	position: sticky;
	top: 0;
	left: 0;
	height: 100vh;
}

div.side-nav__content {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: var(--color4);
	box-shadow: 0 0 20px var(--color2m);
}

div.side-nav__content--logo {
	width: calc(3vw + 2vh);
	/* object-fit: cover; */
}

ul.side-nav__content--social {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	margin-bottom: 1rem;
}

ul.side-nav__content--social a i {
	font-size: calc(1rem + 0.66667vw);
	color: var(--color1);
	text-shadow: 0 0 10px var(--color4);
	padding-bottom: calc(2rem + 0.6667vw);
}

ul.side-nav__content--social a i:hover,
ul.side-nav__content--social a i:active {
	color: var(--color5);
	text-shadow: 0 0 15px var(--color4);
}


/*-*-**-**-**-**-**-**-**-**-** Lado universe *-**-**-**-**-**-**-**-**-* *-*/
.universe {
	color: #fff;
	margin: 10rem;
}

/*-*-**-**-**-**-**-**-**-**-** Side Nav *-**-**-**-**-**-**-**-**-* *-*/
/* Todo el contenido que contiene main */
main {
	flex: 1;
}

/*-*-**-**-**-**-**-**-**-**-** Main Nav Header *-**-**-**-**-**-**-**-**-* *-*/
header#header {
	background-color: var(--color1);
	height: calc(3vw + 3vh);
	z-index: 2;
}

nav#header__main-nav {
	height: 100%;
}

ul.header__main-nav--links {
	/* solo oara demostracion */
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

ul.header__main-nav--links li {
	padding-right: 3vw;
}

ul.header__main-nav--links li a {
	position: relative;
	padding: 0.2rem 0.6rem;
	font-size: calc(1rem + 0.66667vw);
	color: var(--color5);
	text-shadow: 0 0 10px var(--color3);
}

ul.header__main-nav--links li a:link::before,
ul.header__main-nav--links li a:visited::before,
ul.header__main-nav--links li a:link::after,
ul.header__main-nav--links li a:visited::after {
	content: '';
	position: absolute;
	left: 0;
	width: 100%;
	height: 0.25rem;
	background-color: var(--color3);
	transform: scaleX(0);
	transition: transform 0.6s cubic-bezier(1, 0, 0, 1);
	transform-origin: left;
}

ul.header__main-nav--links li a:link::before,
ul.header__main-nav--links li a:visited::before {
	top: 0;
	transform-origin: left;
}

ul.header__main-nav--links li a:link::after,
ul.header__main-nav--links li a:visited::after {
	bottom: 0;
	transform-origin: right;
}

ul.header__main-nav--links li a:hover::before,
ul.header__main-nav--links li a:active::before,
ul.header__main-nav--links li a:hover::after,
ul.header__main-nav--links li a:active::after {
	transform: scaleX(1);
	background-color: var(--color2);
}

/*-*-**-**-**-**-**-**-**-**-** Showcase / Hero *-**-**-**-**-**-**-**-**-* *-*/
section#showcase {
	height: 100vh;
	background-image: url(image/cosmos.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

div.showcase__content {
	background-color: var(--color1m);
	padding: calc(1rem + 2vw);
	height: calc(5rem + 20vmax);
	display: flex; flex-direction: column; justify-content: space-between;
	color: rgba(0, 0, 0, 0.098);
	text-shadow: 5px 5px 0px #000;
	animation: hero 2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

@keyframes hero {
	0% {
		transform: translateX(100rem) rotate(360deg);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

.showcase__content--title {
	font-size: calc(2rem + 3vw);
}

.showcase__content--para {
	font-family: "indie Flower", cursive;
	font-size: calc(1.5rem + 1vw);
	color: var(--color5);
	text-shadow:  0 0 20px var(--color4);
}

.showcase__content--link:link,
.showcase__content--link:visited {
	padding: 1rem 0;
	transition: all 0.5s ease-in-out;
	width: 9rem;
	text-transform: uppercase;
	font-size: 1.5rem;
	font-weight: 700;
	letter-spacing: 0.2rem;
	position: relative;
	color: var(--color4);
	text-shadow: 0 0 5px var(--color1);
	z-index: 1;
}

.showcase__content--link:link::after,
.showcase__content--link:visited::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	background-color: var(--color2);
	width: 100%;
	height: 100%;
	transform: scaleX(0);
	transform-origin: right;
	transition: transform 0.45s cubic-bezier(0.645, 0.045, 0.355, 1);
	z-index: -1;
}

.showcase__content--link:hover::after,
.showcase__content--link:active::after {
	transform: scaleX(1);
	transform-origin: left;
}

/*-*-**-**-**-**-**-**-**-** (max-width: 900px) Mark *-**-**-**-**-**-**-**-**-*/
section#work {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 2rem;
	border-radius: 50px;
	background-image: url(image/green2.jpeg);
	background-repeat: no-repeat;
	object-fit: cover;
	background-attachment: fixed;
	margin: 1rem;
}

div.work__card {
	padding: 2rem;
	flex-basis: 40rem;
	filter:alpha(opacity=70);
	background-color: rgba(255, 255, 255, 0.192);
	border-radius: 20px;
	z-index: 0;
}

div.work__card img {
	height: 40vh;
	width: 100%;
	object-fit: cover;
	border-radius: 2rem;
	background-attachment: fixed;
	box-shadow: 0 0 15px rgb(58, 255, 9);
	margin: 5px;
	transition: filter 0.45s ease;
}

div.work__card img:hover,
div.work__card img:active {
	filter: hue-rotate(50deg);
	box-shadow: 0 0 30px rgb(58, 255, 9);
}

/*-*-**-**-**-**-**-**-**-** buttons *-**-**-**-**-**-**-**-**-*/

section#work .buttons {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

section#work .buttons .page {
	color: var(--color1);
	background-color: var(--color7);
	padding: 0 1rem;
	border-radius: 8px;
	border-bottom: solid 2px #ff5073;
}

section#work .buttons .proyecto {
	color: var(--color3);
	background-color: var(--color8);
	padding: 4px 1rem;
	border-radius: 8px;	
	font-size: 1.8rem;
	text-shadow: 0 0 10px var(--color2);
	border-bottom: solid 2px #50cbff;
}

section#work .buttons .page:hover {
	transform: scale(.97);
	background-color: #ff5073;
}

section#work .buttons .proyecto:hover {
	transform: scale(.97);
	background-color: #50cbff;
}

/*-*-**-**-**-**-**-**-**-** buttons *-**-**-**-**-**-**-**-**-*/
section#about-me {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	padding: 2rem;
	background-image: radial-gradient(circle at 50% -20.71%, #fbded2 0, #fad7cc 10%, #f8d0c6 20%, #f7c8c0 30%, #f5bfba 40%, #f2b5b5 50%, #efabb1 60%, #eba3af 70%, #e79bae 80%, #e294ae 90%, #dd8eb0 100%);
	/* height: 100vh; */
	border-radius: 20px;
}

.about-me__img,
.about-me__content {
	flex-basis: 70rem;
	padding: 2rem;
	/* flex-grow: 1; */
}

.about-me__img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.about-me__content--title {
	font-size: 4rem;
	padding: 1rem 0;
	color: var(--color4);
	text-transform: uppercase;
	position: relative;
}

.about-me__content--title::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	height: 0.3rem;
	width: 10%;
	background-color: var(--color2);
}

.about-me__content--tittle,
.about-me__content--para {
	margin-bottom: 4rem;
	letter-spacing: 0.2rem;
}

.about-me__content--para {
	font-size: 1.8rem;
	font-family: "Indie Flower", cursive;
}

.about-me__content--link:link,
.about-me__content--link:visited {
	padding: 1rem 0;
	font-size: 1.5rem;
	font-weight: 600;
	letter-spacing: 0.2rem;
	text-transform: uppercase;
	color: var(--color5);
	position: relative;
	z-index: 1;
}

.about-me__content--link:link::after,
.about-me__content--link:visited::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--color3);
	transform: scaleY(0);
	transform-origin: bottom;
	transition: transform 0.45s cubic-bezier(0.645, 0.045, 0.355, 1);
	z-index: -1;
} 

.about-me__content--link:hover:link::after,
.about-me__content--link:hover:visited::after {
	transform: scaleY(1);
	transform-origin: top;
}

/*-*-**-**-**-**-**-**-**-**-** (max-width: 900px) Mark *-**-**-**-**-**-**-**-**-* *-*/
@media screen and (max-width: 900px){
/*-*-**-**-**-**-**-**-**-**-** Showcase / Hero *-**-**-**-**-**-**-**-**-* *-*/
section#showcase {
	background-position: 50%;
	flex-direction: column-reverse;
	align-items: start;
	justify-content: space-between;
}
}

/*-*-**-**-**-**-**-**-**-**-** (max-width: 610px) Mark *-**-**-**-**-**-**-**-**-* *-*/
@media screen and (max-width: 610px) {

	ul.header__main-nav--links li a {
		color: var(--color1);
	}
	
	nav#header__main-nav {
		width: 30rem;
		height: 100%;
		position: fixed;
		top: 0;
		right: -30rem;
		background-color: var(--color4m);
		text-align: center;
		z-index: 5;
	}
	
	.clicked {
		left: 55%;
	}

	.header__main--hamburger {
		width: 5rem;
		height: 5rem;
		position: fixed;
		top: 2rem;
		right:3rem;
		cursor: pointer;	
		background-color: var(--color5);
		padding: 1rem;
		border-radius: 50%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;        
		animation: light 1s alternate infinite;
	}

	@keyframes light {
		from {
			box-shadow: 0 0 50px tomato;
		}
		to {
			box-shadow: 0 0 50px yellow
		}		
	}

	.line {
		width: 100%;
		height: 0.3rem;
		background-color: #fff;
		box-shadow: 0 0 10px #fff;
		border-radius: 0.2rem;	
		transition: all 0.4s ease-in-out;
	}

	ul.header__main-nav--links {
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
	}

	ul.header__main-nav--links li {
		margin-bottom: 4vh;
		margin-left: 6vh;
	}

	.clicked .line-1 {
		transform: rotateZ(-405deg) translate(-0.8rem, 0.6rem);
	}

	.clicked .line-2 {
		opacity: 0;
	}

	.clicked .line-3 {
		transform: rotateZ(405deg) translate(-0.8rem, -0.6rem);
	}

	ul.header__main-nav--links li {
		opacity: 0;
	}

	ul.header__main-nav--links li:nth-child(1) {
		transition: all 0.5s ease-in-out 0.2s;
	}

	ul.header__main-nav--links li:nth-child(2) {
		transition: all 0.5s ease-in-out 0.4s;
	}

	ul.header__main-nav--links li:nth-child(3) {
		transition: all 0.5s ease-in-out 0.6s;
	}

	ul.header__main-nav--links li:nth-child(4) {
		transition: all 0.5s ease-in-out 0.8s;
	}

	ul.header__main-nav--links li:nth-child(5) {
		transition: all 0.5s ease-in-out 1s;
	}

	ul.header__main-nav--links li:nth-child(6) {
		transition: all 0.5s ease-in-out 1.2s;
	}
	
	ul.header__main-nav--links li.fade {
		opacity: 1;
	}

}
